* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2x solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* box 2(navbar) */
.add-first {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}

.add-second {
    font-size: 14px;
    margin-left: 4px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box 3(nav-search) */

.nav-search {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
    background-color: pink;
}

.nav-search:hover {
    border: 3px solid rgb(237, 156, 6);
}

.select-class {
    width: 51px;
    /* height: 40px; */
    color: #0f1111;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    border: none;
}

.input-class {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    color: black;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* box 4 and 5  */
.span1 {
    font-size: 0.75rem;
}

.sec-line {
    font-weight: 700;
    font-size: 14px;
}

/* box 6 */

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 14px;
    font-weight: 700;
}
/*panel*/
.panel {
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel-all {
    font-size: 14px;
    font-weight: 700;
}

.panel-all i {
    font-size: 16px;
}

.panel-ops p {
    display: inline;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
}

.panel-ops {
    width: 70%;
}

.panel-deals {
    font-size: 14px;
    font-weight: 700;
}

/* hero section */
.hero-section {
    height: 400px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-section p {
    color: black;
    background-color: #f5f6f6;
    height: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.hero-section p a {
    color: #007175;
    text-decoration: none;
}


/* card-section */
.card-section {
    background-color: #a3a7a8;
    height: 920px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box {
    height: 400px;
    background-color: white;
    border: 2px solid black;
    margin-top: 15px;
    width: 23%;
    padding: 20px 0px 15px;
}

.box-image {
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content p {
    color: #007175;
}


/* Footer */

footer {
    margin-top: 15px;
}

.foot-panel {
    height: 50px;
    color: white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}


.foot-panel2 {
    height: 300px;
    background-color: #232f3e;
}

.lists {
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 30px;
}

.list {
    list-style-type: none;
}

ul li {
    color: #dddddd;
    font-size: 14px;
    height: 16px;
    margin-top: 10px;
}

ul p {
    font-weight: 700;
}



/* foot-panel3 */
.foot-panel3 {
    color: #dddddd;
    background-color: #37475a;
    ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid white;
}

.logo {
    height: 38px;
    width: 76px;
    background-image: url(amazon_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.foot-panel4 {
    height: 77px;
    background-color: #131a22;
    color: white;
    text-align: center;
    font-size: 0.7rem;

}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}